/*
	Colores:
		black					gray
		silver				white  	 
		red					lime
		blue 	 				yellow
		aqua					fuchsia 	 
		maroon				orange
		olive					purple
		green					navy
		teal 	 

*/
body {
	font-family: Verdana, Arial, sans-serif;
	background:black;
	color: white;
	margin: 0px auto;
	padding: 0 0 20px 0;
	height: 100%;
	overflow: hidden;
}

.icon-btn {
	border: 0px;
	width: 32px;
	height: 32px;
	}

.touch-icon {
	border: 0px;
	cursor: pointer;
	}
	

.back-btn {
	z-index: 10;
	position: absolute; 
	left: 10px; 
	top: 10px; 
	width: 140px;
	height: 65px;
	padding: 5px;
	cursor: pointer;
	color: white;
	border-radius: 10px 10px 10px 10px;
	background: darkred;
	border: 3px solid red;
	}

.add-btn {
	z-index: 10;
	position: absolute; 
	left: 95px; 
	top: 350px; 
	width: 140px;
	height: 65px;
	padding: 5px;
	cursor: pointer;
	color: white;
	border-radius: 10px 10px 10px 10px;
	background: darkgreen;
	border: 3px solid green;
	}

.submit-btn {
	z-index: 10;
	position: absolute; 
	left: 95px; 
	top: 350px; 
	width: 140px;
	height: 65px;
	padding: 5px;
	cursor: pointer;
	color: white;
	border-radius: 10px 10px 10px 10px;
	background: blue;
	border: 3px solid lightblue;
	}
		
.normal-btn {
	z-index: 10;
	position: absolute; 
	width: 140px;
	height: 65px;
	padding: 5px;
	cursor: pointer;
	color: white;
	border-radius: 10px 10px 10px 10px;
	}

	
/* En plantaN.php */
#btn-planta-select1 {
	left: 10px; 
	top: 180px; 
	background: orangered;
	border: 3px solid orange;
	}

#btn-planta-select2 {
	left: 10px; 
	top: 265px; 
	background: green;
	border: 3px solid greenyellow;
	}

#btn-planta-select3 {
	left: 10px; 
	top: 350px; 
	background: blue;
	border: 3px solid lightblue;
	}

.home-group {
	color: white;
	z-index: 10;
	padding: 2px;
	height: 75px;
	border: 3px solid grey;
	border-radius: 10px 0px 0px 0px;
	}

.home-image {
	z-index: 20;
	border: 0px;
	cursor: pointer;
	}
	
.home-display {
	font-weight: bold;
	background:darkblue;
	color: white;
}

#home-div {
	position: absolute; 
	left: 170px; 
	top: 10px; 
	width: 610px;
	height: 415px;
	background: black;
	overflow: auto;
	overflow-y: auto;
	}
		
#plano1 {
	z-index: 10;
	position: absolute; 
	left: 0px; 
	top: 0px; 
	}

/* En config.php */

#btn-config-usuarios {
	left: 255px; 
	top: 95px; 
	background: olive;
	border: 3px solid lightseagreen;
}

#btn-config-sistema {
	left: 415px; 
	top: 95px; 
	background: red;
	border: 3px solid orangered;
	}

#btn-config-planta {
	left: 575px; 
	top: 95px; 
	background: black;
	border: 3px solid gray;
	}


#btn-config-hard {
	left: 95px; 
	top: 180px; 
	background: navy;
	border: 3px solid blue;
	}

#btn-config-assign {
	left: 255px; 
	top: 180px; 
	background: maroon;
	border: 3px solid purple;
	}

#btn-config-groups {
	left: 415px; 
	top: 180px; 
	background: green;
	border: 3px solid lightgreen;
	}

#btn-config-events {
	left: 575px; 
	top: 180px; 
	background: fuchsia;
	border: 3px solid pink;
	}

#btn-config-dummy3 {
	left: 95px; 
	top: 265px; 
	background: black;
	border: 3px solid green;
	}

#btn-config-touch {
	left: 255px; 
	top: 265px; 
	background: green;
	border: 3px solid lightgreen;
	}
	
#btn-config-alarm {
	left: 415px; 
	top: 265px; 
	background: purple;
	border: 3px solid lightpink;
	}

#btn-config-cameras {
	left: 575px; 
	top: 265px; 
	background: orange;
	border: 3px solid lightpink;
	}

#btn-config-upload {
	left: 95px; 
	top: 350px; 
	background: maroon;
	border: 3px solid purple;
	}

#btn-config-download {
	left: 255px; 
	top: 350px; 
	background: fuchsia;
	border: 3px solid pink;
	}

#btn-config-dummy2 {
	left: 415px; 
	top: 350px; 
	background: black;
	}

#btn-config-auto {
	left: 575px; 
	top: 350px; 
	background: olive;
	border: 3px solid lightseagreen;
	}
					
/*  en planta_edit */
#btn-planta-add {
	left: 10px; 
	top: 350px; 
	background: navy;
	border: 3px solid blue;
	}

/* En auto_menu.php */
#btn-config-riego {
	left: 255px; 
	top: 95px; 
	background: olive;
	border: 3px solid greenyellow;
}

#btn-config-calefaccion {
	left: 415px; 
	top: 95px; 
	background: red;
	border: 3px solid pink;
	}

#btn-config-aire {
	left: 575px; 
	top: 95px; 
	background: black;
	border: 3px solid gray;
	}

#btn-config-task {
	left: 95px; 
	top: 180px; 
	background: navy;
	border: 3px solid blue;
	}
	
#btn-config-analog {
	left: 255px; 
	top: 180px; 
	background: maroon;
	border: 3px solid purple;
	}
	
/* en seguridad_menu.php */
#btn-seguridad-camara {
	left: 255px; 
	top: 95px; 
	background: olive;
	border: 3px solid greenyellow;
}

#btn-seguridad-alarma {
	left: 415px; 
	top: 95px; 
	background: red;
	border: 3px solid pink;
	}

#btn-seguridad-panico {
	left: 255px; 
	top: 265px; 
	background: maroon;
	border: 3px solid purple;
	}

#btn-seguridad-incendio {
	left: 415px; 
	top: 265px; 
	background: green;
	border: 3px solid lightgreen;
	}

#btn-seguridad-emer-med {
	left: 575px; 
	top: 265px; 
	background: fuchsia;
	border: 3px solid lightpink;
	}
	