body {
	font-family: Verdana, Arial, sans-serif;
	background: black;
	color: white;
	margin: 0px auto;
	padding: 0 0 20px 0;
	height: 100%;
	overflow: hidden;
}

#desktop {
	}

.desktop-group {
	font-weight: bold;
	width: 100%;
	}

.desktop-group input {
	background: black;
	font-weight: normal;
	color: orange;
	}

.menu-btn {
	color: white;
	left: 5%; 
	width: 90%;
	z-index: 10;
	padding: 2px;
	height: 75px;
	border-radius: 10px 10px 10px 10px;
	cursor: pointer;
	}

.list-head {
	font-weight: bold;
	color: white;
	z-index: 10;
	padding: 2px;
	height: 60px;
	width: 95%;
	border-radius: 10px 10px 10px 10px;
	cursor: pointer;
	}
		
#list-head1 {
	background: red;
	}

#list-head2 {
	background: olive;
	}

#list-head3 {
	background: orange;
	}
	
#list-head4 {
	background: orangered;
	}
		
#list-head5 {
	background: darkmagenta;
	}
	
#list-head6 {
	background: blue;
	}
		
.list-btn-group1 {
	color: white;
	background: maroon;
	z-index: 10;
	padding: 2px;
	height: 40px;
	width: 95%;
	border: 2px solid black;
	border-radius: 10px 10px 10px 10px;
	cursor: pointer;
	}

.list-btn-group2 {
	color: white;
	background: teal;
	z-index: 10;
	padding: 2px;
	height: 40px;
	width: 95%;
	border: 2px solid black;
	border-radius: 10px 10px 10px 10px;
	cursor: pointer;
	}
		
.list-btn-group3 {
	color: white;
	background: brown;
	z-index: 10;
	padding: 2px;
	height: 40px;
	width: 95%;
	border: 2px solid black;
	border-radius: 10px 10px 10px 10px;
	cursor: pointer;
	}
	
.list-btn-group4 {
	color: white;
	background: orange;
	z-index: 10;
	padding: 2px;
	height: 40px;
	width: 95%;
	border: 2px solid black;
	border-radius: 10px 10px 10px 10px;
	cursor: pointer;
	}
	
.list-btn-group5 {
	color: white;
	background: darkorchid;
	z-index: 10;
	padding: 2px;
	height: 40px;
	width: 95%;
	border: 2px solid black;
	border-radius: 10px 10px 10px 10px;
	cursor: pointer;
	}
			
.list-btn-group6 {
	color: white;
	background: cornflowerblue;
	z-index: 10;
	padding: 2px;
	height: 40px;
	width: 95%;
	border: 2px solid black;
	border-radius: 10px 10px 10px 10px;
	cursor: pointer;
	}
	
.list-back-btn {
	position: absolute; 
	left: 5%; 
	top: 85%; 
	color: white;
	z-index: 10;
	padding: 5px;
	height: 65px;
	width: 140px;
	border-radius: 10px 10px 10px 10px;
	background: green;
	cursor: pointer;
	}
			
.status-text {
	font-weight: normal;
	color: silver;
	}

.icon-image {
	border: 0px;
	width: 32px;
	height: 32px;
	}

.mini-icon-image {
	border: 0px;
	width: 16px;
	height: 16px;
	}
	
.head-list {
	position: absolute; 
	left: 5%; 
	top: 10px; 
	width: 95%;
	height: 60px;
	padding: 2px;
	color: white;
	background: black;
	overflow: hidden;
	overflow-x: hidden;
	}

.scroll-list {
	position: absolute; 
	left: 5%; 
	top: 75px; 
	width: 95%;
	height: 70%;
	padding: 2px;
	color: white;
	background: black;
	overflow: auto;
	overflow-x: hidden;
	}

.list-tb {
	width: 90%;
	border: 0;
	padding: 0;
	text-align: left;
	}

.list-tb-head{
	text-align: center;
	font-weight: bold;
	color: orange;
	}

.list-tb-foot{
	font-weight: bold;
	text-align: right;
	}

/* ***************************************************************************
	Area de Luces
*************************************************************************** */	
#luces-btn {
	position: static;
	background: olive;
	left: 10px; 
	top: 10px; 
	height: 75px;
	}
		
.luzn-btn {
	color: white;
	background: teal;
	z-index: 10;
	padding: 2px;
	height: 40px;
	width: 245px;
	border: 1px dotted #fff;
	cursor: pointer;
	}

/* ***************************************************************************
	Area de menu
*************************************************************************** */	
#menu1 {
	position: absolute; 
	top: 10px; 
	background: red;
	}

#menu2 {
	position: absolute; 
	top: 95px; 
	background: olive;
	}

#menu3 {
	position: absolute; 
	top: 180px; 
	background: orange;
	}

#menu4 {
	position: absolute; 
	top: 265px; 
	background: orangered;
	}

#menu5 {
	position: absolute; 
	top: 350px; 
	background: darkmagenta;
	}

#menu6 {
	position: absolute; 
	top: 435px; 
	background: blue;
	}
	